<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd">

	 <bean id="propertyConfigurer"  
        class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">  
        <property name="locations">
			<array>
				<value>classpath:jdbc.properties</value>
				<value>classpath:production/alipay.properties</value>
			</array>
		</property>
    </bean> 
	

	<import resource="classpath*:spring/spring-jdbc.xml" />
    <import resource="spring-httpClient.xml"/>
	<!--<import resource="classpath:spring/spring-elastic-job.xml"/>-->
	<!-- 
	<import resource="classpath*:common/spring/common-redis-context.xml" />
	<import resource="classpath*:spring/rabbit-mg.xml"/> 
	<import resource="classpath*:spring/spring-quartz.xml"/> 
	<import resource="classpath*:spring/customer-dubbo.xml"/>
	 -->

	<context:annotation-config />
	<context:component-scan base-package="com.zz.pay.dao" />
	<context:component-scan base-package="com.zz.pay.serviceImpl" />
	<context:component-scan base-package="com.zz.pay.util" />
	<context:component-scan base-package="com.zz.pay.web" />
</beans>